extends layout.pug

block content 
        .container#detail
            if active
                h1.name #{client.name}
                h3.active Active
                p.age   Age: #{client.age} years old
                p.description Description: #{client.description}
                br
                a.update(href=`/update/${client.id}`) Update 
                a.inactivate(href=`/inactivate/${client.id}`) Inactivate
            if inactive 
                h1.name #{client.name}
                h3.inactive Inactive
                p.age   Age: #{client.age} years old
                p.description Description: #{client.description}
                br
                a.update(href=`/update/${client.id}`) Update 
                a.inactivate#delete(href=`/delete/${client.id}`) Delete
